html body
  font-family: 'Roboto', sans-serif
  font-weight: 400
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  color: $primary-text
  font-size: 18px

a
  color: $primary-text
  font-weight: bold
  text-decoration: none
  &:hover
    color: $accent
