body
  display: flex
  flex-direction: column
  justify-content: space-between
  min-height: 100vh

.wrapper
  flex-grow: 1
  display: block
  overflow: hidden
  position: relative
  width: 100%
  & > .container
    padding-bottom: 4rem
    padding-top: 4rem
