<header class="header">
  <section class="container">
    <nav class="navigation">
      <div class="navigation-left">
        <a class="navigation-title" href="/">{{ .Site.Title }}</a>
        <div class="navigation-list">
        {{ range .Site.Menus.main }}
          <a class="navigation-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        {{ end }}
        </div>
      </div>
      <div class="navigation-right">
        <div class="navigation-social">
        {{ range .Site.Menus.social }}
          <a class="navigation-item" href="{{ .URL }}"><i class="fab fa-{{ .Name }}"></i></a>
        {{ end }}
        </div>
      </div>
    </nav>
  </section>
</header>

