<div class="container">
  <nav class="nav">
    <div class="nav-left">
      <a class="nav-title" href="/">{{ .Site.Title }}</a>
      <div class="nav-menu">
        {{ range .Site.Menus.main }}
        <a class="nav-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        {{ end }}
      </div>
    </div>
    <div class="nav-right">
      <div class="nav-social">
        {{ range .Site.Menus.social }}
        <a class="nav-item" href="{{ .URL }}"><i class="fab fa-{{ .Name }}"></i></a>
        {{ end }}
      </div>
    </div>
  </nav>
</div>
